.s-link-container{
    .s-link{
        color:#a0c2e7;
         font-weight: 800;
         -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;

    
         
    }
    .primary{
        color:#a0c2e7 ;
      }
      .warning{
          color: #fde590;
      }
      .success{
          color: #b3bf86;
      }
      .fail{
         color: #e98d7e;
      }

}



.s-link:hover{
    text-decoration: underline;

}



